@charset "UTF-8";
header {
    font-family: 'Space Mono', monospace;
}
header h1 {
   font-weight: 900;
}
.header-text {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}
p {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
.nav-item {
    font-family: 'Space Mono', monospace;
}
.nav-link {
    color: black;
}
ul.nav.nav-pills li.nav-item a.nav-link.active {
    background: black /**rgb(255, 216, 118)*/;
    color: white;
}
ul.nav li.nav-item a.nav-link:hover {
    color: #5f3f6e;
}
ul.nav.flex-column {
    text-align: center;
}
img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
#major-mono {
    font-family: 'Major Mono Display', monospace;
}
#nova-square {
    font-family: 'Source Sans Pro', cursive;
}
#space-mono {
    font-family: 'Space Mono', monospace;
}
footer {
    display: flex;
    color: #e4d3ec;
    text-align: center;
    background-color: #5f3f6e;
}