@charset "UTF-8";
* {
    font-family: 'Chivo', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
h1 {
    font-family: 'MuseoModerno', cursive;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: space-around;
    background: rgb(255,226,253);
    background: linear-gradient(to bottom, rgba(255,226,253,1) 0%, rgba(232,204,245,1) 10%, rgb(201, 177, 231) 30%);
}
ul {
    padding-inline-start: 0px;
}
.breadcrumbs {
    text-align: left;
    background-color: rgba(255,226,253,1);
    list-style: none;
    align-self: flex-start;
}
.breadcrumbs li {
    display: inline;
    font-size: 15px;
    font-weight: 400;
}
ul.breadcrumbs li a {
    color: black;
    font-family: 'MuseoModerno', cursive;
}
ul.breadcrumbs li a:hover {
    color: rgb(142, 109, 180);
    text-decoration: underline;
}  
.title {
    font-family: 'MuseoModerno', cursive;
    text-align: center;
}
.title h3 {
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;
}
.title h1 {
    font-weight: 400;
}
hr.line {
    border-top: 2px solid black;
}
p {
    margin: auto;
    padding-top: 15px;
    font-size: 12pt;
}
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 15px;
}
#name-img {
    align-self: flex-end;
    height: 90px;
}
#color-imgs {
    align-self: center;
    width: 500px;
    display: flex;
    flex-flow: column wrap;
}
.color-img {
    width: 500px;
}
.figure-img {
    align-self: center;
    display: flex;
    width: 500px;
    flex-flow: column wrap;
}
figure {
    padding: 15px;
}
figcaption {
    width: 500px;
    padding: 5px;
    text-align: left;
    margin: auto;
}
footer {
    display: flex;
    color: #e4d3ec;
    text-align: center;
    background-color: #5f3f6e;
}