@charset "UTF-8";
h5 u {
    font-family: 'MuseoModerno', cursive;
}
.figure {
    padding: 0px;
}
.diagram-img {
    align-self: center;
    display: flex;
    width: 800px;
    flex-flow: column wrap;
}
.bARaids-img {
    align-self: center;
    display: flex;
    width: 500px;
    flex-flow: column wrap;
}
#final-product-img {
    align-self: center;
    display: flex;
    width: 800px;
    flex-flow: column wrap;
}
#bARaids-imgs {
    align-self: center;
    display: flex;
    flex-flow: column wrap;
}