@charset "UTF-8";
header {
    font-family: 'Nova Square', cursive;
}
header h1 {
   font-weight: 900;
}
.header-text {
    font-family: 'Nova Square', cursive;
    font-weight: 400;
}
p {
    font-family: 'Nova Square', cursive;
    font-weight: 700;
}
.nav-item {
    font-family: 'Nova Square', cursive;
}
.nav-link {
    color: black;
}
ul.nav.nav-pills li.nav-item a.nav-link.active {
    background: black /**rgb(255, 216, 118)*/;
    color:goldenrod;
}
ul.nav li.nav-item a.nav-link:hover {
    color: gold;
}
ul.nav.flex-column {
    text-align: center;
}
#major-mono {
    font-family: 'Major Mono Display', monospace;
}
#nova-square {
    font-family: 'Nova Square', cursive;
}
#space-mono {
    font-family: 'Space Mono', monospace;
}
footer {
    display: flex;
    color: goldenrod;
    text-align: center;
}