@charset "UTF-8";
:root {
    --primary-color: #180b3d; /* navy blue */
    --secondary-color: #a3bcff;  /* periwinkle */
    --accent-color: #afe656;  /* lime green */
    --light-color: #f9f5fa;  /* almost white */
}

* {
    background-color: var(--primary-color);
}


h1 {
    font-family: 'MuseoModerno', cursive;
    font-weight: 200px; /* ExtraLight */
    font-size: 120px;
    line-height: 120px;
    color: var(--secondary-color);
 }

h2 {
    font-family: 'MuseoModerno', cursive;
    font-weight: 500px; /* Medium */
    font-size: 44px;
    line-height: 46px;
    color: var(--secondary-color);
}

h3 {
    font-family: 'MuseoModerno', cursive;
    font-weight: 500px; /* Medium */
    font-size: 33px;
    line-height: 36px;
    color: var(--secondary-color);
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: var(--secondary-color);
}

.button {
    font-family: 'MuseoModerno', cursive;
    font-weight: 500px; /* Medium */
    font-size: 22px;
    line-height: 30px;

    padding: 10px;
}

.button.b1 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.button.b2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.label {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 100px;
}

/* .section {
    padding-top: 175px;
    padding-bottom: 175px;
} */

.link-text {
    font-family: 'MuseoModerno', cursive;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 5px;
    /* padding: 10px; */
}

/* body {
    background: var(--primary-color);
    padding-left: 300px;
    padding-right: 300px;
} */

nav .nav-link {
    font-family: 'MuseoModerno', cursive;
    font-weight: 500px; /* Medium */
    font-size: 23px;
    line-height: 36px;
    color: var(--secondary-color);

}

.navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

nav .navbar-brand {
    font-family: 'MuseoModerno', cursive;
    font-weight: 500px; /* Medium */
    font-size: 33px; 
    color: var(--accent-color);
}

@media (min-width: 1080px) {
    .navbar-nav {
        padding-left: 300px;
    }

    header {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (max-width: 798px) {
    .navbar-nav {
        padding-left: 0px;
    }

    header {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 200px;
        padding-right: 200px;
    }
}
a.nav-link:hover {
    color: var(--accent-color);
    font-weight: 200px;
}


ul.nav {
    margin-left: 15%;
    margin-top: 12px;
}
 #logo-box {
    margin-left: calc((100% - 150px) / 2);
    margin-top: 10px;
    min-height: 60px;
    max-height: 100px; /* make this change when the screen is small*/
    margin-bottom: 10px;
    /* border-bottom: 1px solid #000; */
    /* position: relative; */

}

img#logo {
    float: left;
    margin-left: calc((0% + 50px));
    width: 100px;
    /* margin-top: 5px; */
}
#current {
    margin-left: 10%;
    margin-right: 10%;
}
#resume_cv {
    float: right;
    margin-right: calc((0% + 50px) / 2);
}

button {
    float: left;
    background-color: rgba(255,226,253,1);
    opacity: 0.5;
    border: 1px solid #000;
    border-top: 0px;
    height: 60px;
}

.card.border-0 {
    background-color: rgb(201, 177, 231);
    border: 10px 10px #decce6;
    width: 20rem;
    text-align: center;
}
img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

footer {
    display: flex;
    color: var(--light-color);
    text-align: center;
    
    background-color: var(--primary-color);
}