@charset "UTF-8";
@import url(/css/styles.css);


ul {
    list-style: square url('/images/Gems/green-gem-1x1.png');
}

#timeline {
    background-color: var(--primary-collor);
    color: var(--secondary-color);

    position: relative;
    background-image: url('/images/Overlays/pattern3-open-curves-periwinkle_darkened_10.png');
}
