@charset "UTF-8";
header {
    font-family: 'Space Mono', monospace;
}
header h1 {
   font-weight: 900;
}
.header-text {
    font-family: 'Space Mono', sans-serif;

    font-weight: 400;
}
p {
    font-family: 'Space Mono', sans-serif;

    font-weight: 700;
}
.nav-item {
    font-family: 'Space Mono', sans-serif;

}
.nav-link {
    color: black;
}
ul.nav.nav-pills li.nav-item a.nav-link.active {
    background: black /**rgb(255, 216, 118)*/;
    color:white;
}
ul.nav li.nav-item a.nav-link:hover {
    color: #5f3f6e;
}
ul.nav.flex-column {
    text-align: center;
}
.card {
    border-radius: 0px 0px;
}
img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
#major-mono {
    font-family: 'Space Mono', sans-serif;

}
#nova-square {
    font-family: 'Source Sans Pro', sans-serif;
}
#space-mono {
    font-family: 'Space Mono', sans-serif;
}
footer {
    display: flex;
    color: goldenrod;
    text-align: center;
}